// Variable overrides first
$theme-colors: (
  "primary": #F15F79,
  "secondary": yellow,
  "success": green,
  "info": pink,
  "warning": grey,
  "danger": red,
  "light": #FFFFFF,
  "dark": black,
);

$primary: #F15F79;
$font-33: #333333;
$font-44: #444444;
$font-66: #666666;
$font-88: #888888;

$light: #FFFFFF;
$enable-reduced-motion: false;


